.contactList {
  background-image: linear-gradient(90deg, #2b2a2a 20%, #fff, #2b2a2a);
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contactListItem {
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
